<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @product.count %>
</p>

<p>
  <strong>Row:</strong>
  <%= @product.row %>
</p>

<p>
  <strong>Col:</strong>
  <%= @product.col %>
</p>

<p>
  <strong>price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>soldCount:</strong>
  <%= @product.soldCount %>
</p>

<p>
  <strong>available:</strong>
  <%= @product.count - @product.soldCount %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>